/* ===== CARRITO ===== */

.carrito__lista {
  margin: 100px auto;
  text-align: center;
  width: 80vw;
}

.carrito__titulo {
  margin: 10px auto;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.carrito__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid darkgray;
  text-align: right;
}

.carrito__itemDescripcion {
  text-align: left;
  margin: 30px 20px;
  flex-grow: 7;
}

.carrito__itemDescripcion p {
  margin-bottom: 10px;
}

.carrito__productoEliminar {
  color: blue;
  margin: 10px 0;
  font-size: $font-xs;
  text-decoration: none;
}

.carrito__Cantidad {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.producto__itemCantidad {
  width: 50px;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
}

.carrito__itemCantidad {
  width: 50px;
  padding: 0 10px;
  text-align: center;
}

.carritoItemCantidadNumero {
  margin: 0 10px;
}

.carritoItemRestar {
  font-size: $font-xl;
  font-weight: bolder;
  color: red;
  text-decoration: none;
}

.carritoItemSumar {
  font-size: $font-xl;
  font-weight: bolder;
  color: #00a650;
  text-decoration: none;
}

.carrito__itemPrecio {
  justify-self: flex-end;
  flex-grow: 3;
  font-size: $font-lg;
  text-align: right;
  margin-right: 20px;
}

.carrito__total {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid gray;
  padding: 50px 0;
}

.carrito__totalTitulo {
  flex-grow: 9;
  text-align: right;
}

.carrito__totalCalculo {
  flex-grow: 3;
  text-align: right;
  margin-right: 20px;
}
